
#contenedor {
width: 100%;
margin: auto;
color: white;
}
.logo {
margin: 10px;
float: left;
}
.banner {
    width: 100%;
    height: 10cm;
}
section {
  width: 90%;
  display: flex;
  flex-direction: row;
}
aside p {
  font-size: 13pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify
}
article {
  margin: 10px;
  }
article img {
margin: 10px 20px 10px 20px;
 width: 60%;
 height: 7cm;
 float: inline-start;
 }
article h4 {
  margin: 10px;
  color: cornflowerblue;
}  
#Contenedor2 {
  display: flex; 
 flex-direction: column;
 margin-top: auto;
 background-color: beige;
 }
 
 #Contenedor3 {
  display: flex; 
  flex-direction: column;
  background-color: beige;
  }
  #Contenedor4 {
  display: flex; 
  flex-direction: column;
  background-color: beige;
  }
  footer {
  background-color: gray;
  display: block;
}
footer p {
  font-size: 20pt;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: justify;
  }


